[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty

[submodule "astronvim"]
  path = astronvim_dist
  url = https://github.com/AstroNvim/AstroNvim
  shallow = true

[submodule "nvchad"]
  path = nvchad_dist
  url = https://github.com/NvChad/NvChad
  shallow = true
