[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty

[submodule "nvchad_dist"]
	path = nvchad_dist
	url = https://github.com/NvChad/NvChad
  shallow = true

[submodule "astronvim_dist"]
	path = astronvim_dist
	url = https://github.com/AstroNvim/AstroNvim
  shallow = true
